/*
Author  : Boon
URL     : http://builtbyboon.com
Twitter	: http://twitter.com/mattberridge
---------------------------------------*/
@import "mixins";

// repeat for each set of grids you have
@include setup-grid($namespace: mq1-col);
@include setup-grid($namespace: mq2-col);
@include setup-grid($namespace: mq3-col);

/* -- Fix old IE
------------------------------------------------------------- */			
.lt-ie9 .container, {
	width: 960px; }
	
@include fix-oldie();
// repeat for each set of grids you have
@include oldie-grid($namespace: "oldie .col");
@include oldie-grid($namespace: "oldie .mq1-col");
@include oldie-grid($namespace: "oldie .mq2-col");
@include oldie-grid($namespace: "oldie .mq3-col");