// this is the fixed gutter between columns
$gutter : 3em;

// for smaller gutters
$half-gutter: $gutter / 2;

// set the proportions you want to use
// namespace relates to the class prefix e.g. mq2-col to target media query 2
@mixin setup-grid($namespace: col) {
	.#{$namespace}-one-half 		{ width: 50%; }
	.#{$namespace}-one-third 		{ width: 33.333%; }
	.#{$namespace}-two-thirds 		{ width: 66.666%; }
	.#{$namespace}-one-quarter 		{ width: 25%; }
	.#{$namespace}-three-quarters 	{ width: 75%; }
}

// account for no border-box in ie6/7
@mixin fix-oldie {

	.oldie {
		.grid-wrap {
			margin-left: 0; }
		
		.grid-col {
			padding: 0;
			margin-left: 5%;
			
			&:first-child {
				margin-left: 0; }		
		}
	}
}

// amend these widths for ie6/7
@mixin oldie-grid($namespace: col) {
	.#{$namespace}-one-half 		{ width: 47.45%; }
	.#{$namespace}-one-third 		{ width: 29.55%; }
	.#{$namespace}-two-thirds 		{ width: 64.95%; }
	.#{$namespace}-one-quarter 		{ width: 19.95%; }
	.#{$namespace}-three-quarters 	{ width: 74.95%; }
}