/*
Author  : Boon
URL     : http://builtbyboon.com
Twitter	: http://twitter.com/mattberridge
---------------------------------------*/
@import "mixins";

body {
	margin: 0;
	font: 1em/1.5 sans-serif; }

.strip {
	background: #891434;
	color: #fff;
	padding: 1em 5%;
	
	p {
		font-size: 1.2em; }
}
	
.container {
	width: 90%;
	margin: 2em auto; }
	
p {
	text-align: justify;
	margin: 0 0 1.5em 0; }

a {
	color: #fff; }
	
h2 {
	margin-top: 0; }

/* -- Begin grids
------------------------------------------------------------- */	
/* -- Use this wrapper if you want to divide your columns -- */
	
.divide-bottom {
    border-bottom: 1px solid #ccc;
	margin-bottom: 1.5em; } 

/* -- Use this wrapper if you want to block-out a column -- */

.island {
	padding: 1.5em;
	background-color: #ececec;
	
	:last-child {
		margin-bottom: 0; }
	
}
	
/* -- Set up your grids -- */	
	
.grid-wrap {    
    margin-left: -$gutter; /* the same as your gutter */
    overflow: hidden;
    clear: both; }
   
.grid-col {
    float: left;
    padding-left: $gutter; /* this is your gutter between columns */
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; }

.half-gutter {
	margin-left: -$half-gutter;

	.grid-col {
		padding-left: $half-gutter; }

}	
			
/* -- If you want any columns to begin with -- */
			
@include setup-grid;

/* -- Media query 1 (mq1)
------------------------------------------------------------- */			
@media only screen and (min-width: 30em) {
 
    @include setup-grid($namespace: mq1-col);
    
}
   
/* -- Media query 2 (mq2)
------------------------------------------------------------- */			
@media only screen and (min-width: 48em) {

    @include setup-grid($namespace: mq2-col);
    
}

/* -- Media query 3 (mq3)
------------------------------------------------------------- */			
@media only screen and (min-width: 60em) {

    @include setup-grid($namespace: mq3-col);
    
}