/*
Author  : Boon
URL     : http://builtbyboon.com
Twitter	: http://twitter.com/mattberridge
---------------------------------------*/
body {
	margin: 0;
	font: 1em/1.5 sans-serif; }

.strip {
	background: #891434;
	color: #fff;
	padding: 1em 5%;
	
	p {
		font-size: 1.2em; }
}
	
.container {
	width: 90%;
	margin: 2em auto; }
	
p {
	text-align: justify;
	margin: 0 0 1.5em 0; }

a {
	color: #fff; }
	
h2 {
	margin-top: 0; }

/* -- Begin grids
------------------------------------------------------------- */	
// this is the fixed gutter between columns
$gutter : 3em;

// for smaller gutters
$half-gutter: $gutter / 2;

// set the proportions you want to use
// namespace relates to the class prefix e.g. mq2-col to target media query 2
@mixin setup-grid($namespace: col) {
	.#{$namespace}-one-half 		{ width: 50%; }
	.#{$namespace}-one-third 		{ width: 33.333%; }
	.#{$namespace}-two-thirds 		{ width: 66.666%; }
	.#{$namespace}-one-quarter 		{ width: 25%; }
	.#{$namespace}-three-quarters 	{ width: 75%; }
}

// account for no border-box in ie7
@mixin fix-ie7 {

	.ie7 {
		.grid-wrap {
			margin-left: 0; }
		
		.grid-col {
			padding: 0;
			margin-left: 5%;
			
			&:first-child {
				margin-left: 0; }		
		}
	}
}

// amend these widths for ie7
@mixin ie7-grid($namespace: col) {
	.#{$namespace}-one-half 		{ width: 47.45%; }
	.#{$namespace}-one-third 		{ width: 29.55%; }
	.#{$namespace}-two-thirds 		{ width: 64.95%; }
	.#{$namespace}-one-quarter 		{ width: 19.95%; }
	.#{$namespace}-three-quarters 	{ width: 74.95%; }
}
	
/* -- Use this wrapper if you want to divide your columns -- */
	
.divide-bottom {
    border-bottom: 1px solid #ccc;
	margin-bottom: 1.5em; } 

/* -- Use this wrapper if you want to block-out a column -- */

.island {
	padding: 1.5em;
	background-color: #ececec;
	
	:last-child {
		margin-bottom: 0; }
	
}
	
/* -- Set up your grids -- */	
	
.grid-wrap {    
    margin-left: -$gutter; /* the same as your gutter */
    overflow: hidden;
    clear: both; }
   
.grid-col {
    float: left;
    padding-left: $gutter; /* this is your gutter between columns */
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; }

.half-gutter {
	margin-left: -$half-gutter;

	.grid-col {
		padding-left: $half-gutter; }

}	
			
/* -- If you want any columns to begin with -- */
			
@include setup-grid;

/* -- Media query 1 (mq1)
------------------------------------------------------------- */			
@media only screen and (min-width: 30em) {
 
    @include setup-grid($namespace: mq1-col);
    
}
   
/* -- Media query 2 (mq2)
------------------------------------------------------------- */			
@media only screen and (min-width: 48em) {

    @include setup-grid($namespace: mq2-col);
    
}

/* -- Media query 3 (mq3)
------------------------------------------------------------- */			
@media only screen and (min-width: 60em) {

    @include setup-grid($namespace: mq3-col);
    
}

/* -- Fix IE7
------------------------------------------------------------- */			
.ie7 .container {
	width: 960px; }
	
@include fix-ie7();
/* -- Repeat for each set of grids you have -- */
@include ie7-grid($namespace: "ie7 .col");
@include ie7-grid($namespace: "ie7 .mq1-col");
@include ie7-grid($namespace: "ie7 .mq2-col");
@include ie7-grid($namespace: "ie7 .mq3-col");